{% extends "base.html" %}

{% block content %}

    <div class="text_container">

        <section class="form">
            <div class="basic_text">
                <h1>Política de datos de mnopi</h1>
                <p>
                    El plugin de mnopi recoge varios datos sobre las páginas que visitas.
                    En cualquier momento puede ser desactivado, de modo que el guardado y envío de datos queda detenido completamente.
                    Aun así, al hacer login es posible elegir qué datos quieres que se recopilen.
                </p>
                <p>
                    Los datos recogidos por defecto son:
                </p>
                <ul>
                    <li>Direcciones de las páginas visitadas (por ejemplo, www.google.es)</li>
                    <li>Búsquedas en los principales buscadores (Google, Yahoo...)</li>
                    <li>Código HTML de las páginas web visitadas</li>
                </ul>

            </div>
        </section>
    </div>

{% endblock content %}