{% extends "base.html" %}

{% block content %}

  <div class="container">
    <section class="form">
      <h1>mnopi private beta - login</h1>
      <form method="post" action="{% url 'login' %}">

      {%  if error_message %}
          <div><p class="error_message">{{ error_message }}</p></div>
      {%  endif %}

      {%  csrf_token %}
      <div class="reg_section personal_info">
      <h3>User identifier</h3>
      <input type="text" name="user_key" value="" placeholder="Your user id">
      <h3>Password</h3>
      <input type="password" name="password" value="" placeholder="Your password">
      </div>

      <p class="submit"><input type="submit" name="login" value="Login"></p>
      </form>
    </section>
  </div>

  <div class="container">
      <section class="form">
          <form method="post" action="{% url 'register' %}">
           {%  csrf_token %}
              <div class="reg_section personal_info">

              <h3>Were you invited to mnopi?</h3>
              <input type="text" name="invitation_key" value="" placeholder="Your invitation code here">

              {%  if code_error %}
                  <div><p class="error_message">{{ code_error }}</p></div>
              {%  endif %}
               </div>

              <p class="submit"><input type="submit" name="commit" value="Redeem code"></p>

          </form>
      </section>
  </div>

{% endblock content %}