{%  extends "base.html" %}

{%  block content %}

  <div class="container">
    <section class="form">
      <h1>mnopi private beta - sign up</h1>
      <form method="post" action="{% url 'new_user' %}">

      {%  if error_message %}
          <div><p class="error_message">{{ error_message }}</p></div>
      {%  endif %}

      {%  csrf_token %}
      <div class="reg_section personal_info">
      <h3>User identifier</h3>
      <input type="text" name="user_key" value="" placeholder="It can be any nickname">
      </div>
      <div class="reg_section password">
      <h3>Password</h3>
      <input type="password" name="password" value="" placeholder="Your password">
      <input type="password" name="confirm" value="" placeholder="Confirm your password">
      </div>
      <p class="terms">
        <label>
          <input type="checkbox" name="acceptance" id="acceptance">
           I understand <a href="{% url 'conditions' %}" target="_blank">what information</a> is going to be collected
        </label>
      </p>
      <p class="submit"><input type="submit" name="register" value="Sign up"></p>
      </form>
    </section>
  </div>

{% endblock content %}