{% extends "dashboard_base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "mnopi/css/dashboard_tables.css" %}">

<table class="hor-minimalist-a" summary="Searches done" style="margin: 0 auto">
    <thead>
    	<tr>
        	<th scope="col">Day</th>
            <th scope="col">Hour</th>
            <th scope="col">Query</th>
        </tr>
    </thead>
    <tbody>
    {% for search in searches_done %}
        <tr>
            <td>{{ search.date|date:"D d M Y" }}</td>
            <td>{{ search.date|date:"H:i" }}</td>
            <td>{{ search.search_query|truncatechars:100 }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" style="text-align: right">
                {% if is_paginated %}
                    <div style="position: relative; text-align: right">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{% url 'user_searches_done' %}?page={{ page_obj.previous_page_number  }}"><</a>
                            {% endif %}
                            <span class="page-current">
                                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{% url 'user_searches_done' %}?page={{ page_obj.next_page_number  }}">></a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </td>
        </tr>
    </tfoot>
</table>
</div>

{% endblock content %}